page-login {
    .login {
        background-color: #fae71c;
        color: black;
        border: 10px;
        align-self: center;
        max-width: 100%;
        width: 50%; 
        height: 50px;
        text-align: center;
        font-size: 20px;
        border-radius: 50px;
        margin-left: 75px;
    }

//     ion-input {
//         background-color: #3e4734;
//     }

//     ion-list {
//         background-color: #3e4734;
//     }

//     ion-label {
//         background-color: #3e4734;
//     }
}
