page-registration {


    
    .item.item-input {
        background-color: transparent;
        color: white;
    }

    .radio {
        background-color: transparent;
        color: white;
    }

    .item.item-radio {
        background-color: transparent;
        color: white;
    }

    .reg {
        background-color: #fae71c;
        color: black;
        border: 10px;
        align-self: center;
        max-width: 100%;
        width: 50%; 
        height: 50px;
        text-align: center;
        font-size: 20px;
        border-radius: 50px;
        margin-left: 25px;
    }

    .cent {
        align-content: center;
        align-self: center;
        align-items: center;
    }
}
